body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(156,186,230,1) 91%, rgba(148,187,233,1) 100%);}
h1,h2{
color:rgb(19, 8, 70);
}

p{
    font-size: large;
    color: rgb(48, 47, 43);
   
}
.profile{
    height: 200px;
    width: 200px;
    border-radius: 100%;
background-image: url(assets/profile.png);
background-repeat: no-repeat;
background-size: cover;
z-index: 1;
}
.logo-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
  }